# Servidor
PORT=3000
NODE_ENV=development

# Supabase PostgreSQL
DATABASE_URL=postgresql://postgres:YOUR_PASSWORD@db.YOUR_PROJECT.supabase.co:5432/postgres

# JWT
JWT_SECRET=SEU_TOKEN_SECRETO_MUITO_LONGO_E_ALEATORIO
JWT_EXPIRE=7d

# Frontend
FRONTEND_URL=http://localhost:8000